.post {
    background: var(--color-white);
    padding: 1rem ;
    border-radius: var(--radius-4);
    padding-bottom: 2rem;
    transition: var(--transition);
    cursor: default;
}

.post__thumbnail {
    border-radius: var(--radius-3);
    overflow: hidden;
    height: 16rem;
}

.post__content {
    margin-top: 1.5rem;
}

.post__content h3 {
    margin: 1rem 0 0.6rem;
}
  
.post_footer {
    display : flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}

.btn.category {
    background: var(--color-gray-900);
    color: var(--color-white);
    font-size: 0.75rem;
    font-weight: 400;
}
