/*authors*/

.authors_container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding-top: 5%;
  
  }
  .author_avatar {
    width: 8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.3rem solid var(--color-bg);
    overflow: hidden;
  }
  
  .author_info p {
    margin-top: 1rem;
  }
  
  .author {
    background: var(--color-white);
    padding: 1rem;
    border-radius: var(--radius-3);
    display: flex;
    gap: 3rem;
    transition: var(--transition);
    

  }
  
  .author:hover {
    box-sizing: 0 1rem 1.5rem rgba(0, 0, 0, 0.07);
  }
  
  .image_avatar {
    width: 7rem;
    border-radius: 30%;
  }